.databricks/
build/
dist/
__pycache__/
*.egg-info
.venv/
scratch/**
!scratch/README.md
.vscode/*
.env
.DS_Store
instructions/*
.cursor/*
.claude/*
AGENTS.md 
CLAUDE.md
.env_prod
.env_dev
app/test_queries/*



